<h1>Welcome to <%= contact.name%>'s Home Page</h1>
<h3>Here you will find the beginnings of my portfolio</h3>
<h3>Check out the skills section to find out more</h3>
<h3>You can reach me on the contacts page</h3>